@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Staatliches&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* CON ESTO SE ALINEA EL DIV QUE ESTÁ DENTRO DEL HEADER */
header #barraMenu {
    text-align: center;
}

#cabezal {
    background-color: #f4f1ea;
    display: inline-block;
    width: 100%;
    height: 35px;
    padding-left: 35px;

}

#cabezal p {
    text-align: left;
    display: inline-block;
    margin: 4px;
}

/* DAMOS TAMAÑO AL LOGO Y SE ALINEA AL CENTRO */
#logo {
    width: 150px;
    height: 31px;
    margin: auto;
    vertical-align: bottom;
}

/* LOGO DE LA PÁGINA DE INICIO QUE ESTÁ AL LADO DEL MENSAJE DE 
BIENVENIDA */
.inicio_pic {
    width: 110px;
    height: 110px;
}

ul#ejm4 li a {
    position: relative;
    color: #1f7671;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

ul#ejm4 li a::before {
    color: black;
    content: attr(title);
    position: absolute;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}

ul#ejm4 li a:hover::before {
    transform: scale(0.9);
    opacity: 0;
}

#barraMenuMovil {

    display: none;

}

#barraMenu ul {
    background-color: #f4f1ea;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style: none;
}

/* ALINEAMOS EL CONTENIDO DEL DIV CON EL ID="USER" */
#user {
    text-align: center;
}

/* GRID PARA EL MENSAJE DE BIENVENIDA Y EL LOGO */
.userInicio {
    padding-top: 15px;
    margin: auto;
    text-align: center;
}

#logout{
    text-align: center;
}

/* NOMBRE DE USUARIO PANTALLA INICIO */
#userNameInicio {
    margin: 15px;
    padding: 5px;
    font-size: 50px;
    color: #1f7671;
}

/* NOMBRE DE USUARIO */
#userName {
    font-size: 25px;
    color: #1f7671;
}

/* NOMBRE DE LA PÁGINA, EN ESTE CASO BIBLIOTECA */
#pageName {
    background-color: #f4f1ea;
    color: #1f7671;
    padding: 15px;
    padding-left: 35px;
}

/********************************    CONTENIDO PÁGINA    ********************************/

#head{
    margin: 10px;
    text-align: center;
    background-color: #1f767250;
    padding: 150px;
}

/* TAMAÑO DE LA IMÁGEN DE USUARIO */
.group_users {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.pic_left{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #f4f1ea;
    margin: 10px;
    padding: 2%;
    text-align: justify;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 5%;
}

.pic_right{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #1f767250;
    margin: 10px;
    padding: 2%;
    text-align: justify;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-right: 5%;
}

.pic_right div{
    text-align: center;
}

.pic_left div{
    text-align: center;
}

.pic_left div img{
    border-radius: 50%;
    text-align: center;
}

.pic_right div p, .pic_left div p{
    margin-top: 2%;
    font-size: 20px;
}

.pic_left div:nth-child(2){
    margin-top: 5%;
    font-size: 20px;
}

.pic_right div:nth-child(1){
    margin-top: 5%;
    font-size: 20px;
}

/****************************************************************/

/* AJUSTAMOS AL CENTRO TODO EL CONTENIDO DEL FOOTER */
footer {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #f4f1ea;
}

/* ALINEAMOS TODO EL CONTENIDO DEL FOOTER EN LA MISMA LÍNEA */
footer ul {
    list-style: none;
    display: inline-flex;
}

/* LA DAMOS UN MARGIN A LOS LI DEL FOOTER */
footer ul li {
    margin-right: 15px;
}

/* TEXTO DEL FOOTER */
.textFooter {
    position: relative;
    color: #1f7671;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

/* EL HOVER DEL TAG ANTES MENCIONADO */
.textFooter:hover {
    color: black;
}