@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Staatliches&display=swap');
body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    
}
header #barraMenu {
    text-align: center;
}

#cabezal {
    background-color: #c4a869;
    display: inline-block;
    width: 100%;
    height: 35px;
    padding-left: 35px;

}

#cabezal p {
    text-align: left;
    display: inline-block;
    margin: 4px;
}

/* DAMOS TAMAÑO AL LOGO Y SE ALINEA AL CENTRO */
#logo {
    width: 150px;
    height: 31px;
    margin: auto;
    vertical-align: bottom;
}

ul#ejm4 li a {
    position: relative;
    color: #1f7671;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

ul#ejm4 li a::before {
    color: black;
    content: attr(title);
    position: absolute;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}

ul#ejm4 li a:hover::before {
    transform: scale(0.9);
    opacity: 0;
}
#barraMenuMovil {
    display: none;
}

#barraMenu ul {
    background-color: #f4f1ea;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style: none;
}
.consultsop{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    background-color: white;
}
section:nth-child(2) > div:first-child{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    border-top: 2px lightgray solid; 
    background-color: white;
}
section:nth-child(2) > div:first-child label{
    margin: 0 25px;
    font-weight: bold; 
} 
section:nth-child(2) > div:nth-child(2){
    border-top: none;
}
.consultsop label{
    margin: 0 25px;
    font-weight: bold; 
}
.consults div:first-child{
    float: left;
    width: 95%;
    height: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px lightgray solid;
    background-color: #f4f1ea;
}
.consults:last-child div:first-child{
    border: none;
}
.consults div:first-child label{
    margin: 0 25px;
}
.consults div:nth-child(2){
    float: right;
    width: 5%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px lightgray solid;
    background-color: #f4f1ea;
}
.consults:last-child div:nth-child(2){
    border: none;
}
.consults div:nth-child(2) img{
    width: 20px;
    margin: 15px;
}
.consults div:nth-child(3){
    width: 100%;
    padding: 22px 0;
    align-items: center;
    align-content: center;
    border-bottom: 1px lightgray solid;
    background-color: white;
    display: none;
}
section:first-child .consults:nth-child(3) div:nth-child(3), section:nth-child(2) .consults:nth-child(5) div:nth-child(3), section:nth-child(3) .consults:nth-child(2) div:nth-child(3){
    display: flex;
}
.consults:last-child div:nth-child(3){
    border-top: 1px lightgray solid;
    border-bottom: none;
}
.consults div:nth-child(3) label{
    margin: 0 25px;
}
.consults div:nth-child(2):active ~ div:nth-child(3){
    display: flex;
}
footer {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #f4f1ea;
}

/* ALINEAMOS TODO EL CONTENIDO DEL FOOTER EN LA MISMA LÍNEA */
footer ul {
    list-style: none;
    display: inline-flex;
}

/* LA DAMOS UN MARGIN A LOS LI DEL FOOTER */
footer ul li {
    margin-right: 15px;
}

/* TEXTO DEL FOOTER */
.textFooter {
    position: relative;
    color: #1f7671;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}

/* EL HOVER DEL TAG ANTES MENCIONADO */
.textFooter:hover {
    color: black;
}

@media (min-width: 481px) and (max-width: 767px) {

    /*Muestro la barra del menú del móvil*/

    #barraMenuMovil {
        margin-top: 2px;
        background-color: #f4f1ea;
        display: grid;
        grid-template-columns: 10% 70% 10% 10%;
        list-style: none;
        height: 55px;

    }


    #atras {
        margin: auto;
        width: 45px;
        height: 45px;
    }

    #barraBusqueda {
        margin: auto;
        width: 100%;
        height: 25px;
    }

    #lupa {
        margin: auto;
        padding-left: 20px;
        width: 35px;
        height: 35px;
    }

    /*Quito la barra del menú del ordenaodor*/
    #barraMenu {

        display: none;
    }

    #generalContent {
        background-color: #f4f1ea;
        margin: 0px;
        /*quito el margin*/
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #generalContent div {
        display: grid;
        grid-template-columns: 20% 65% 0% 0% 15%;
    }

    #generalContent>div>p {
        display: none;
    }

    .book {
        padding-left: 10px;
        /*cambio el pading*/
        margin: auto;
        width: 55px;
        height: 55px;
    }

    .menu {

        margin: auto;
        width: 55px;
        height: 55px;
    }


    #star {
        display: none;
    }
    .consults div:first-child{
        width: 90%;
    }
    .consults div:nth-child(2){
        width: 10%;
    }

}

/*------------------------------------------------MOVIL PEQUEÑO--------------------------------------------------------*/

@media (max-width: 480px) {

    /*------REESCALO LA BARRA DE BUSQUEDA-------*/

    #barraMenuMovil {
        margin-top: 2px;
        background-color: #f4f1ea;
        display: grid;
        grid-template-columns: 10% 65% 10% 15%;
        list-style: none;
        height: 55px;
    }
    #atras {
        margin: auto;
        width: 35px;
        height: 35px;
    }
    #barraBusqueda {
        margin: auto;
        width: 100%;
        height: 25px;
    }
    #lupa {
        margin: auto;
        padding-left: 15px;
        width: 25px;
        height: 25px;
    }
    #barraMenu {

        display: none;
    }
    #generalContent {
        background-color: #f4f1ea;
        margin: 0px;
        /*quito el margin*/
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #generalContent div {
        display: grid;
        grid-template-columns: 20% 65% 0% 0% 15%;
    }

    #generalContent>div>p {
        display: none;
    }

    .book {
        padding-left: 10px;
        /*cambio el pading*/
        margin: auto;
        width: 55px;
        height: 55px;
    }

    .menu {

        margin: auto;
        width: 55px;
        height: 55px;
    }


    #star {
        display: none;
    }



    /*cambio la disposición a vertical en la que se lista el footer para que no se solape el texto*/
    footer ul {
        list-style: none;
        display: block;
        margin-right: 50px;
        /*Centro el texto con este margin*/
    }

    /*Modifico la distancia entre las lineas del texto del footer*/
    footer ul li {
        margin-top: 10px;

    }
    .consults div:first-child{
        width: 87%;
    }
    .consults div:nth-child(2){
        width: 13%;
    }


}